body{
  background-image: url(/src/img/Tela\ de\ fundo.png);
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
  font-family: 'Segoe UI', sans-serif;
}
h1 {
  text-align: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  left: 20%;
  top: 50%;
  transform: translateY(-50%);
  width: 500px;
}

.login-container {
  background: rgba(65, 64, 64, 0.65);
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: right;
  gap: 16px;
  width: 300px;
  color: white;
  margin-top: 270px;
  margin-left: 1200px;
}

.login-button {
  background-color: white;
  color: black;
  border-radius: 4cap;
  padding: 40px;
  text-transform: none;
  width: 100%;
  font-weight: 600;
  cursor: pointer;
  border: none;
}

.login-button:hover {
  background-color: #c0c0c0;
}

.login-link {
  color: #ffffffbb;
  text-decoration: none;
  font-size: 0.9rem;
}

.login-link:hover {
  color: white;
  text-decoration: underline;
}

.login-field {
  width: 100%;
}

.login-field .MuiInputLabel-root {
  color: white; 
}


.login-field .MuiInputLabel-root.Mui-focused {
  color: white;
}


.login-field .MuiInputBase-input {
  color: white; 
}


.logo-container {
  position: absolute;
  left: 10vw;
  top: 50%;
  transform: translateY(-50%);
}

.page-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
}
  